{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="card shadow-sm">
            <div class="card-body p-4 p-md-5">
                <h3 class="mb-4"><i class="bi bi-pencil"></i> Editar {{ user.profile_type | capitalize }}</h3>
                <form method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    
                    <div class="row g-3">
                        <div class="col-12">
                            {{ form.full_name.label(class="form-label") }}
                            {{ form.full_name(class="form-control") }}
                        </div>
                        
                        <div class="col-md-6">
                            {{ form.username.label(class="form-label") }}
                            {{ form.username(class="form-control") }}
                        </div>
                        
                        <div class="col-md-6">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control") }}
                        </div>
                        
                        <div class="col-md-6">
                            {{ form.registration.label(class="form-label") }}
                            {{ form.registration(class="form-control") }}
                        </div>
                        
                        <div class="col-md-6">
                            {{ form.unity.label(class="form-label") }}
                            {{ form.unity(class="form-control") }}
                        </div>

                        {% if user.profile_type == 'teacher' %}
                        <div class="col-12">
                            {{ form.department.label(class="form-label") }}
                            {{ form.department(class="form-control") }}
                        </div>
                        {% else %}
                        <div class="col-md-6">
                            {{ form.sector.label(class="form-label") }}
                            {{ form.sector(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.function.label(class="form-label") }}
                            {{ form.function(class="form-control") }}
                        </div>
                        <div class="col-12">
                            <div class="form-check mt-2">
                                {{ form.is_teacher(class="form-check-input") }}
                                {{ form.is_teacher.label(class="form-check-label") }}
                            </div>
                        </div>
                        {% endif %}
                        
                        <div class="col-md-6">
                            {{ form.role_id.label(class="form-label") }}
                            {{ form.role_id(class="form-select") }}
                        </div>
                        
                        <div class="col-md-6">
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control") }}
                            <div class="form-text">Deixe em branco para manter a senha atual.</div>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-check mt-2">
                                {{ form.is_active_user(class="form-check-input") }}
                                {{ form.is_active_user.label(class="form-check-label") }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex gap-2 mt-4">
                        {{ form.submit(class="btn btn-primary") }}
                        <a href="{{ url_for('admin.list_users') }}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}